<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="spongeBobXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="30"/>
        <constructor-arg value="Sponge BobXML"/>
    </bean>

    <bean id="patrickXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="35"/>
        <constructor-arg value="PatrickXML"/>
     </bean>

    <bean id="squidwardXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="40"/>
        <constructor-arg value="SquidwardXML"/>
    </bean>

    <bean id="musicBean" class="ru.irlix_elementary.spring.example2.JazzMusic">
    </bean>

    <bean id="jazzMusic" class="ru.irlix_elementary.spring.example2.JazzMusic">
    </bean>

    <bean id="rockMusic" class="ru.irlix_elementary.spring.example2.RockMusic">
    </bean>

    <bean id="classicalMusic" class="ru.irlix_elementary.spring.example2.ClassicalMusic">
    </bean>

    <bean id="playAllMusic" class="ru.irlix_elementary.spring.example2.MusicPlayer">
        <property name="musicList">
           <array>
               <ref bean="jazzMusic"/>
               <ref bean="rockMusic"/>
               <ref bean="classicalMusic"/>
           </array>
        </property>
    </bean>


    <bean id="frogBean" class="ru.irlix_elementary.spring.example3.Frog">
        <constructor-arg value="Frog"/>
    </bean>

    <bean id="goatBean" class="ru.irlix_elementary.spring.example3.Goat">
        <constructor-arg value="Goat"/>
    </bean>

    <bean id="gooseBean" class="ru.irlix_elementary.spring.example3.Goose">
        <constructor-arg value="Goose"/>
    </bean>

    <bean id="hunterBean" class="ru.irlix_elementary.spring.example3.Hunter">
        <property name="currentAnimal" ref="gooseBean"/>
    </bean>
</beans>