<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="SpongeBobXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="30"/>
        <constructor-arg value="Sponge BobXML"/>
    </bean>

    <bean id="PatrickXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="35"/>
        <constructor-arg value="PatrickXML"/>
     </bean>

    <bean id="SquidwardXML" class="ru.irlix_elementary.spring.example1.model.Person">
        <constructor-arg value="40"/>
        <constructor-arg value="SquidwardXML"/>
    </bean>

    <bean id="MusicBean" class="ru.irlix_elementary.spring.example2.JazzMusic">
    </bean>

    <bean id="JazzMusic" class="ru.irlix_elementary.spring.example2.JazzMusic">
    </bean>

    <bean id="RockMusic" class="ru.irlix_elementary.spring.example2.RockMusic">
    </bean>

    <bean id="ClassicalMusic" class="ru.irlix_elementary.spring.example2.ClassicalMusic">
    </bean>

    <bean id="PlayAllMusic" class="ru.irlix_elementary.spring.example2.MusicPlayer">
        <property name="musicList">
           <array>
               <ref bean="JazzMusic"></ref>
               <ref bean="RockMusic"></ref>
               <ref bean="ClassicalMusic"></ref>
           </array>
        </property>
    </bean>


    <bean id="FrogBean" class="ru.irlix_elementary.spring.example3.Frog">
        <constructor-arg value="Frog"/>
    </bean>

    <bean id="GoatBean" class="ru.irlix_elementary.spring.example3.Goat">
        <constructor-arg value="Goat"/>
    </bean>

    <bean id="GooseBean" class="ru.irlix_elementary.spring.example3.Goose">
        <constructor-arg value="Goose"/>
    </bean>

    <bean id="HunterBean" class="ru.irlix_elementary.spring.example3.Hunter">
        <property name="currentAnimal" ref="GooseBean"/>
    </bean>
</beans>